{% extends 'base.html.twig' %}
{% block body %}

    <style>
        img{
            background-attachment: fixed;
        contrast(200%);
        }
        .auto{
            margin:auto;
        }
        #Act1{
            display:inline-flex;
            margin-left:5%;

        }
        #card3{
            max-height: 600px;
            min-height: 600px;



        }
        #card-panel{
            max-width: 300px;
            min-width: 300px;
            min-height: 450px;
        }
        #scth1{
            background-color:lightgrey!important;
            height:auto;
        }
        #scth2{
            background-attachment: fixed;
            height:auto;
            background-image: url('{{ asset('../../../images/asset/patternCarbon.jpeg') }}');
        }

        #scth3{
            background-attachment: fixed;
            height:auto;
            background-image: url('{{ asset('../../../images/asset/2c19454b8af52a34b70a358652086b5d.jpg') }}');
        }

        .flow-text  {
            margin-left: 10% !important;
            margin-right:10% !important;

        }
        .header{
            margin-bottom: 2em !important;
        }
        #Act1{
            max-width: 500px;
            min-width: 500px;
        }
    </style>




        <div class="slider">
            <ul class="slides">
                <li>
                    <img src="{{ asset('../../../images/illus-accueil.jpg') }}"> <!-- random image -->
                    <div class="caption center-align">
                        <h3 class="header card z-depth-5">100 entreprises dans la filière |
                            3 axes de développement</h3>
                    </div>
                </li>
                <li>
                    <img src="{{ asset('../../../images/illus-accueil.jpg') }}"> <!-- random image -->
                    <div class="caption left-align">
                        <h3 class="card blue z-depth-5">Mobilité Durable</h3>
                        <h5 class="light grey-text text-lighten-3"></h5>
                    </div>
                </li>
                <li>
                    <img src="{{ asset('../../../images/illus-accueil.jpg') }}"> <!-- random image -->
                    <div class="caption right-align">
                        <h3 class="card blue z-depth-5">Véhicule d'époque</h3>
                        <h5 class="light grey-text text-lighten-3"></h5>
                    </div>
                </li>
                <li>
                    <img src="{{ asset('../../../images/illus-accueil.jpg') }}"> <!-- random image -->
                    <div class="caption center-align">
                        <h3 class="card blue z-depth-5 ">Loisirs et Compétition</h3>
                        <h5 class="light grey-text text-lighten-3"></h5>
                    </div>
                </li>
            </ul>
        </div>
        {#---------------------------------------------------------------------------------------------------------------------------#}


        <section id="scth1" class="card z-depth-5">
            <blockquote class="card z-depth-3"><h3 class="header ">LA FILIERE</h3></blockquote>
            <h5 class="flow-text center "><strong>Avec près de 100 entreprises dans la filière dont une trentaine implantée au Pôle Mécanique (et plus de 600 en intégrant les concessionnaires,
                    garages et clubs), les activités liées aux «Sports Mécaniques et Mobilité Durable» génèrent quelques <em>1100 emplois</em>.</strong></h5>
            <p class="flow-text">Cet écosystème d’entreprises, doté de compétences complémentaires à forte valeur ajoutée, est animé par l’Agence de développement Alès Myriapolis qui
                a d’ailleurs initié, fin 2016, une démarche collective afin de fédérer ces acteurs et accroitre leur compétitivité.</p>

        </section>


        {#-------------------------------------------------------------------------------#}

        <section id="scth2" class="card  z-depth-5">
            <blockquote class="card z-depth-3"><h3 class="header ">LES ACTEURS</h3></blockquote>
            <div class="auto">    <table >

                    {# table body #}
                    {% for actor in pagination %}
                        <div id="Act1" class="row" >
                            <div class="container">
                                <div class="card medium z-depth-5 hover">
                                    <div class="card-image waves-effect waves-block waves-light">
                                        <img id="blur" class="activator" src="{{ asset('uploads/images/' ~  actor.image ) }}" height="300px" width="600px">
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title activator grey-text text-darken-4"><a class="btn-large blue" href="{{ path('actors_show', { 'raisonsocial': actor.raisonsocial }) }}">{{ actor.raisonsocial }}</a><i class="material-icons right">more_vert</i></span>
                                        <p><a href="">{{ actor.siteweb }}</a></p>
                                    </div>
                                    <div class="card-reveal">
                                        <span class="card-title grey-text text-darken-4"><i class="material-icons">accessibility</i>{{ actor.nomdudirigeant }}<i class="material-icons right">close</i></span>
                                        <ul>
                                            <li> <i class="material-icons">place</i>{{ actor.adresse }} </li>
                                            <li><i class="material-icons">phone</i> {{ actor.tel }} </li>
                                            <li><i class="material-icons">mail</i> {{ actor.mail }} </li>
                                            <li><i class="material-icons">arrow</i> <blockquote> <strong>{{ actor.secteur}} </strong> {{ actor.description }}</blockquote> </li>

                                            <li> <i class="material-icons">device_hub</i> {{ actor.facebook }} </li>
                                            <li><i class="material-icons">linkedin</i> {{ actor.linkedin }} </li>
                                            <li><a href=""><i class="material-icons">twitter</i> {{actor.twitter }}</a> </li>
                                            <li><i class="material-icons">instragram</i> {{ actor.instagram }} </li>
                                            <li></li>
                                            <li>  {{ actor.competences }} </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <a class="btn-large green" href="{{ path('actors_show', { 'raisonsocial': actor.raisonsocial }) }}">Voir +</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </table>
            </div>


            <div class="row">
                <div class="buttons">
                    <a href="/{{ path('actors_index') }}"><button class="blob-btn">
                            LES PARTENAIRES
                            <span class="blob-btn__inner">
      <span class="blob-btn__blobs">
        <span class="blob-btn__blob"></span>
        <span class="blob-btn__blob"></span>
        <span class="blob-btn__blob"></span>
        <span class="blob-btn__blob"></span>
      </span>
    </span>
                        </button></a>
                </div>


                <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                    <defs>
                        <filter id="goo">
                            <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
                            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo"></feColorMatrix>
                            <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
                        </filter>
                    </defs>
                </svg>
            </div>

        </section>





    <section  id="scth3" class="card   z-depth-5">
    <blockquote class="card z-depth-3"><h3 class="header ">L'ACTUALITÉ</h3></blockquote>
<div  style="display:flex!important;">

    {% for advert in adverts %}
        <div class="row">
            <div  class="col s12 m4 l4">
                <div id="card3"  class="card">
                    <div class="card-image">
                        <a class="card red z-depth-3" href="{{ path('entity_advert_show',{ 'id': advert.id }) }}"> <img src="{{ asset('uploads/images/' ~ advert.image) }}" height="300px" width="300x" ></a>
                        <a  href="{{ path('entity_advert_show',{ 'id': advert.id }) }}" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>                    </div>
                        <span class="card-title"><i class="material-icons">book</i><strong><blockquote>{{ advert.author }}  <i class="material-icons">swatch</i>{% if advert.date %}{{ advert.date|date('Y-m-d H') }}{% endif %}</blockquote></strong>  </span>
                    <div class="card-content">
                        <span style="color:black"  class="card-title">{{ advert.title }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
</div>
    <div class="row">
        <div class="buttons">
            <a href="/entity_advert">
                <button class="blob-btn">
                    VOIR TOUS LES ARTICLES
                    <span class="blob-btn__inner">
      <span class="blob-btn__blobs">
        <span class="blob-btn__blob"></span>
        <span class="blob-btn__blob"></span>
        <span class="blob-btn__blob"></span>
        <span class="blob-btn__blob"></span>
      </span>
    </span>
                </button>
            </a>
        </div>


        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
            <defs>
                <filter id="goo">
                    <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
                    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo"></feColorMatrix>
                    <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
                </filter>
            </defs>
        </svg>
    </div>
</div>


</div>

    <style>*, *:before, *:after {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }


        .buttons {
            margin-top: 28em;
            text-align: center;
        }

        .blob-btn {
            z-index: 1;
            position: relative;
            padding: 20px 46px;
            margin-bottom: 30px;
            text-align: center;
            text-transform: uppercase;
            color: #0d6aad;
            font-size: 16px;
            font-weight: bold;
            background-color: transparent;
            outline: none;
            border: none;
            -webkit-transition: color 0.5s;
            transition: color 0.5s;
            cursor: pointer;
        }
        .blob-btn:before {
            content: "";
            z-index: 1;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border: 6px solid dodgerblue;
        }
        .blob-btn:after {
            content: "";
            z-index: -2;
            position: absolute;
            left: 9px;
            top: 9px;
            width: 100%;
            height: 100%;
            border: 6px solid #222;
            -webkit-transition: all 0.3s 0.2s;
            transition: all 0.3s 0.2s;
        }
        .blob-btn:hover {
            color: #222;
        }
        .blob-btn:hover:after {
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            left: 0;
            top: 0;
        }
        .blob-btn__inner {
            z-index: -1;
            overflow: hidden;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
        .blob-btn__blobs {
            position: relative;
            display: block;
            height: 100%;
            -webkit-filter: url("#goo");
            filter: url("#goo");
        }
        .blob-btn__blob {
            position: absolute;
            top: 6px;
            width: 25%;
            height: 100%;
            background: dodgerblue;
            border-radius: 100%;
            -webkit-transform: translate3d(0, 150%, 0) scale(1.7);
            transform: translate3d(0, 150%, 0) scale(1.7);
            -webkit-transition: -webkit-transform 0.45s;
            transition: -webkit-transform 0.45s;
            transition: transform 0.45s;
            transition: transform 0.45s, -webkit-transform 0.45s;
        }
        @supports ((-webkit-filter: url("#goo")) or (filter: url("#goo"))) {
            .blob-btn__blob {
                -webkit-transform: translate3d(0, 150%, 0) scale(1.4);
                transform: translate3d(0, 150%, 0) scale(1.4);
            }
        }
        .blob-btn__blob:nth-child(1) {
            left: 0%;
            -webkit-transition-delay: 0s;
            transition-delay: 0s;
        }
        .blob-btn__blob:nth-child(2) {
            left: 30%;
            -webkit-transition-delay: 0.08s;
            transition-delay: 0.08s;
        }
        .blob-btn__blob:nth-child(3) {
            left: 60%;
            -webkit-transition-delay: 0.16s;
            transition-delay: 0.16s;
        }
        .blob-btn__blob:nth-child(4) {
            left: 90%;
            -webkit-transition-delay: 0.24s;
            transition-delay: 0.24s;
        }
        .blob-btn:hover .blob-btn__blob {
            -webkit-transform: translateZ(0) scale(1.7);
            transform: translateZ(0) scale(1.7);
        }
        @supports ((-webkit-filter: url("#goo")) or (filter: url("#goo"))) {
            .blob-btn:hover .blob-btn__blob {
                -webkit-transform: translateZ(0) scale(1.4);
                transform: translateZ(0) scale(1.4);
            }
        }
    </style>


    <script>
        $(document).ready(function(){
            $('.slider').slider();
        });</script>
{% endblock %}