{% extends "::base.html.twig" %}

{% block body %}

    <div style="width:500px;height:50px;margin-left:35%" class="green"><span style="padding-left:35%;color: white;" class="flow-text center">L'ACTUALITÉ</span></div>
    {% for advert in adverts %}
        <div class="new badge cyan m-0"><a href="" style="color:white!important;display:flex!important;" >#{{ advert.category }}</a></div>
    {% endfor  %}

<div class="container">
    {% for advert in adverts %}
    <!-- large size post-->
    <div class="card large">
        <div class="card-image top">
            <a  href="{{ path('entity_advert_show',{ 'id': advert.id }) }}"><img class="responsive" src="{{ asset('uploads/images/' ~ advert.image) }}" ></a>
            <span class="card-title"></span>
            <span class="card-title blog-post-full-cat right">
                      <a href="#!">
                        <span class="new badge cyan m-0" data-badge-caption="">#{{ advert.category }}</span>
                      </a>
                    </span>
        </div>
        <div class="card-content">
            <p class="ultra-small">{% if advert.date %}{{ advert.date|date('Y-m-d H') }}{% endif %}</p>
            <p>{{ advert.title }}</p>
        </div>
        <div class="card-action">
            <div class="btn cyan text-white">
               <a href="#!">{{ advert.author }}</a>
            </div>
            <a href="{{ path('entity_advert_show',{ 'id': advert.id }) }}" class="waves-effect waves-teal btn-flat right m-0 p-0">Lire plus <i class="material-icons right">arrow_forward</i></a>
        </div>
    </div>
    {% endfor %}
</div>







             <div class="text-center">{{ knp_pagination_render(adverts) }}</div>


    <script>$('a').click(function(){
            $('html, body').animate({
                scrollTop: $($(this).attr('href')).offset().top - 30
            }, 500);
            return false;
        });</script>

{% endblock %}
