{% extends 'base.html.twig' %}

{% block body %}


<div style="width:500px;height:50px;margin-left:35%" class="green"><span style="padding-left:35%;color: white;" class="flow-text center">{{ actor.raisonsocial }}</span></div>

<section style="margin-left:12.5%;"class="row">
    <div class="col s 12 l 6">

    <img  class="card-panel hoverable" src="{{ asset('uploads/images/' ~  actor.image ) }}"  height="300px" width="300px">

   <blockquote> <h1><a href="">{{ actor.siteweb }}</a></h1></blockquote>
    </div>
<div  class="col s 12 l 6">
    <div  class="card container ">
        <span class="card-title grey-text text-darken-4"><i class="material-icons">accessibility</i>{{ actor.nomdudirigeant }}<i class="material-icons right">close</i></span>
        <ul>
            <li> <i class="material-icons">place</i>{{ actor.adresse }} </li>
            <li><i  class="material-icons">phone</i> {{ actor.tel }} </li>
            <li><i  class="material-icons">mail</i> {{ actor.mail }} </li>
            <li><i class="material-icons">arrow</i> <blockquote> <strong>{{ actor.secteur}} </strong> {{ actor.description }}</blockquote> </li>
            <div class="center" style="display:flex;">
            <li><a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{ actor.Facebook }}"><img class src="{{ asset('../../../images/003-facebook.png') }}" alt=""> </a> </li>
                <li><a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{ actor.Linkedin }}"><img src="{{ asset('../../../images/001-linkedin.png') }}" alt=""></i> </a> </li>
                <li><a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{ actor.Twitter }}"><img src="{{ asset('../../../images/002-twitter.png') }}" alt=""> </a></a> </li>
                <li><a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{ actor.Instagram }}"><img src="{{ asset('../../../images/004-instagram.png') }}" alt=""> </a></li>
            </div>

        </ul>
    </div>




    <a class="btn  green container" href="{{ path('actors_index') }}">RETOUR</a>











        <ul>

        </ul>




    </div>
    <style>

        body
        {
            background-attachment: fixed;
            background-image: url('{{ asset('../../../images/loisirs-competition.jpg') }}');
            border:1px solid red;
            width: auto;
        }
    </style>

    <script></script>
</section>
        {% endblock %}
